<head>
  <link rel="stylesheet" href="/css/greeted.css">
</head>

 <h1>Greeted Names</h1>


 <ul>
 {{#each greets}}
 <li>{{this.name}}</li>
 {{/each}}
 </ul>

 <a href="/greet">Back to main page</a>



<!-- <li>{{name}}<li> -->








 <!-- <ul>
   <li>{{name}}</li>
 </ul>
 <ul>
   {{#each greets}}
   <li>{{name}}</li>
   {{/each}}
 </ul>  -->

































<!-- <a href="/greetings/greet">Greetings</a> -->








<!-- {{#if messages.error}}
<div class="error">
{{messages.error}}
<br>
<br>
</div>
{{/if}}
{{#if messages.success}}
<div class="success">
{{messages.success}}
<br>
<br>
</div>
{{/if}} -->
